.header-searchbar {
  flex: 1; /* takes available space */
  display: flex;
  align-items: center;
  height: 40px;
  max-width: 420px;
  padding: 0 12px;
  background: #FFFFFF;
  border-radius: 20px;
  gap: 8px;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
}
